.n3{
    padding: 90px;
    width: 100%;
    height: 521px;
    color: white;
    background-color: DC5880;
    background-size: cover;
    background-position: center;
}

.n4{
    padding: 90px;
    width: 100%;
    color: white;
    background-color: D1DC58;
    background-size: cover;
    background-position:center;
}
    .projectheading{
    padding-top: 70px;
    text-align: center;
}
    .connect{
    font-size: 20px;
    padding-top: 40vh;
}


@media only screen and (max-width:366px){
    .logo{
        display: none;
    }
    header{
    width: 100%;
    text-align: center;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    background: #444;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .nav__links li{
    display: inline-block;
    padding: 0px 2px;
    }
    .content{
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-top: 35vh;
    padding-left: 0px;
    background-size: contain;
    line-height: 6px;
    color: #444;
    }
    .writing{
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    }
    .name2{
    font-size: 24px;
    padding-bottom: 15px;
    margin-bottom: 15px;  
    }
       .projectheading{
    padding-top: 40px;
    text-align: center;
}
    .connect{
    font-size: 12px;
    padding-top: 40vh;
}

        }
    .n1{
    padding: 7vh;
    width: 100%;
    height: 45vh;
    color: white;
    background-image: url(Opus2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.2s ease 0s;
}
    .n2{
    padding: 7vh;
    width: 100%;
    height: 45vh;
    color: white;
    background-image: url(Net2.png);
    background-size: 100% 100%;
    transition: all 0.2s ease 0s;
}
    
    .yes{
    font-size: 16px;
    }
    
    .desc{
    font-size: 12px;
    }
