*{
    margin:0 ;
    padding:0 ;
    font-family: "Urbanist", sans-serif;
    background-color: #F7F7F5;
    color: #121212;
}

html {
  scroll-behavior: smooth;
}

h2{
    font-size: 30px;
}
body{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 7vw;
}
.block1{
    padding-bottom: 6vh;
}

.block2{
    padding-bottom: 3vh;
}

.block3{
    padding-bottom: 3vh;
}

.block5{
    text-align: center;
    padding-bottom: 20vh;
}

.block5 h2{
    font-size: 25px;
    padding-bottom: 3vh;
}

.block5 p{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 3vh;
}

.block6{
    text-align: center;
}

.block6 hr{
    color: #90827D;
    margin-bottom: 6vh;
}

.block6 h2{
    font-size: 25px;
    padding-bottom: 3vh;
}

.block6{
    padding-bottom: 3vh;
}

.social{
    display: flex;
    justify-content: center;
}

.social a{
    padding: 1.5vw;
}

.social i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid #90827D;
    border-radius: 40px;
    padding: 15px;
    color: #90827D;
    transition: all 0.3s ease 0;
}

.block5b{
    padding-bottom: 6vh;
}

.block5b img{
    border: 1px solid #90827D;
    width: 100%;
    height: 350px;
    object-fit: cover;  
}

.block5c{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20vh;
}

.block5c-sub{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.block5c-sub h3{
    padding-bottom: 2vh;
}

.social i:hover{
    background-color: #121212;
    color: #F7F7F5;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    padding-bottom: 20vh;
    flex-wrap: wrap; 
    
}

.olist-items{
    transition: all 0.3s ease 0s;
}

.olist-items:hover{
    color: #121212;
    font-weight: 800;
}


.blog-box{
    width: 350px;
    background-color: #F7F7F5;
    border: 1px solid #90827D;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: auto;   
}

.blog-img img{
    width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #90827D;
    font-size: 13px;
}

.blog-text .blog-title{
    margin: 10px 0;
    color: #121212;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.blog-text .blog-title:hover{
    color: cornflowerblue;
    font-weight: 800;
}

.blog-text p{
    margin: 20px 0;
}

.blog-text .blog-read{
    font-size: 13px;
    color: #121212;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.blog-text .blog-read:hover{
    color: #000000;
    font-weight: 800
}

.olists{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:2.5vw;
}

hr{
    color: #90827D;
    margin-bottom: 3vh;
}

p{
    color: #90827D;
    font-size: 13px;
    line-height: 3.5vh;
}

u{
    color: #90827D;
    transition: all 0.3s ease 0s;
}

u:hover{
    color: #121212;
    font-weight: 800;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #90827D;
}

button{
    border: 1px solid #90827D;
    cursor: pointer;
    color: #90827D;
    padding: 2vh;
    margin-bottom: 6vh;
    transition: all 0.3s ease 0s;
}

.footer{
    padding-top: 4vh;
    text-align: center;
}

.topbutton i{
    position: fixed;
    border: 1px solid #90827D; 
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color: #121212;
    transition: all 0.3s ease 0s
}

.topbutton i:hover{
    background-color: #121212;
    color: #ffffff;

/*
button:hover{
    border-color: #121212;
    background-color: #121212;
    cursor: pointer;
    color: #F7F7F5;
    font-weight: 800;
    padding: 2vh;
    margin-bottom: 6vh;
    transition: all 0.3s ease 0s;
}
*/
