*{
    box-sizing: border-box;
    margin:0 ;
    padding:0 ;
    font-family: "Urbanist", sans-serif;
    font-weight: 30px;
    font-style: normal;
}

li, a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.bold{
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s
}

.bold:hover{
    color: FDC642;
    font-weight: 900;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #444;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo{
    cursor: pointer;
    color: white;
}

.writing{
    font-size: 18px;
    border-top: 20px;
}

..nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: FDC642;
    font-weight: 900;
}

.content{
    display: inline-block;
    padding-top: 207px;
    padding-left: 166px;
    background-size: contain;
    text-align: left;
    line-height: 24px;
    color: #444;
}

.name2{
    font-size: 57px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.projects{
    padding: 0;
    margin: 0;
}
.portfolio{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: azure;
}



.portfolio-item{
    width: 50%;
    height: 521px;
    
}

.n1{
    padding: 90px;
    width: 50%;
    height: 521px;
    color: white;
    background-color: 6658DC;
    background-size: cover;
    background-position:center; 
}

.n2{
    padding: 90px;
    width: 50%;
    height: 521px;
    color: #444;
    background-color: 58DCD4;
    background-size: cover;
    background-position: center;
}

.n3{
    padding: 90px;
    width: 50%;
    height: 521px;
    color: white;
    background-color: DC5880;
    background-size: cover;
    background-position: center;
}

.n4{
    padding: 90px;
    width: 50%;
    color: #444;
    background-color: D1DC58;
    background-size: cover;
    background-position:center;
}

.h{
    width: 10%;
    height: 8px;
    border: 0 none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: FDC642;
    border-radius: 60px;   
}

.socials{
    padding-top: 92px;
    text-align: center;
}

.connect{
    font-size: 32px;
    padding-top: 20px;
}

.c1{
    padding-top: 60px;
}  
.mail{
    color: #444;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

.mail:hover{
    color: FDC642;
    font-weight: 900;
}

.footerbottom{
    text-align: center;
    padding: 20px 0px;
}

.footer{
    padding: 40px 0;
    background-color: #fff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #444;
}

.footer .social a{
    font-size: 20px;
    color: inherit;
    border: 1px solid #ccc;
    padding: 20px;
    width: 60px;
    height: 60px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    transition: all 0.3s ease 0s;  
}

.footer .social a:hover{
    font-size: 20px;
    color: white;
    background-color: #444;
    border: none;
    padding: 20px;
    width: 60px;
    height: 60px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    transition: all 0.3s ease 0s;  
}

.projectheading{
    padding-top: 140px;
    text-align: center;
}




@media only screen and (max-width:769px){
    .logo{
        display: none;
    }
    header{
    width: 100%;
    text-align: center;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    background: #444;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .nav__links li{
    display: inline-block;
    padding: 0px 5px;
    }
    .content{
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 0px;
    background-size: contain;
    line-height: 6px;
    color: #444;
    }
    .writing{
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    }
    .name2{
    font-size: 36px;
    padding-bottom: 20px;
    margin-bottom: 20px;  
    }
.n1{
    padding: 90px;
    width: 100%;
    height: 521px;
    color: white;
    background-color: 6658DC;
    background-size: cover;
    background-position:center; 
}

.n2{
    padding: 90px;
    width: 100%;
    height: 521px;
    color: white;
    background-color: 58DCD4;
    background-size: cover;
    background-position: center;
}

.n3{
    padding: 90px;
    width: 100%;
    height: 521px;
    color: white;
    background-color: DC5880;
    background-size: cover;
    background-position: center;
}

.n4{
    padding: 90px;
    width: 100%;
    color: white;
    background-color: D1DC58;
    background-size: cover;
    background-position:center;
}
    .projectheading{
    padding-top: 70px;
    text-align: center;
}
    .connect{
    font-size: 20px;
    padding-top: 20px;
}


@media only screen and (max-width:366px){
    .logo{
        display: none;
    }
    header{
    width: 100%;
    text-align: center;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    background: #444;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .nav__links li{
    display: inline-block;
    padding: 0px 2px;
    }
    .content{
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-top: 120px;
    padding-left: 0px;
    background-size: contain;
    line-height: 6px;
    color: #444;
    }
    .writing{
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    }
    .name2{
    font-size: 24px;
    padding-bottom: 15px;
    margin-bottom: 15px;  
    }
       .projectheading{
    padding-top: 40px;
    text-align: center;
}
    .connect{
    font-size: 12px;
    padding-top: 20px;
}
